@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import './variable.scss';
@import './mixins.scss';
@import './hearder.scss';
@import './corps.scss';


 body{
    background-color: $black;
    padding:0%;
    margin:0%;
    overflow-x: hidden;
}

