
$black: black;
$white: white;
$darkgrey: #4f4f4f;
$grey: rgb(119, 119, 119);
$lightgrey: #c5c5c5;
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$blanc-cassé: #ebebeb;
$heart: $couleur-primaire, $couleur-secondaire;