  @mixin degrade($mouvement, $heart) { 
    background: linear-gradient(to $mouvement, $heart); 
    color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  }
  @mixin titre {
    font-family: 'Roboto';
    font-weight: bolder;
    display: flex;
    margin-left: 20px;
  }
