
$black: black;
$white: white;
$darkgrey: #4f4f4f;
$brown: #353535;
$grey: rgb(161, 161, 161);
$lightgrey: #c5c5c5;
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$blanc-casse: #f6f6f6;
$blanc-casse-dark: #eaeaea;
$heart: $couleur-primaire, $couleur-secondaire;
$bouton-degrade: $couleur-primaire, $couleur-secondaire;