.footer-menue{
    width: 100%;
        display: flex;
        background: $brown;
        padding-top: 20px;
        padding-bottom: 20px;
}
.texte-footer{
    color: $white;
    font-size: 15px;
    font-family: 'Roboto';
}

.navigation-footer {
    color: $blanc-casse;
        font-size: 15px;
        font-family: 'Roboto';
    ul{
        list-style-type: none;
    }
    li{
        margin-top: 3px;
    }
    a{
        text-decoration: none;
        color: $blanc-casse;
        &:hover{
            text-decoration: underline;
        }
    }
}

.icon-footer-fourchette{
    font-size: 13px;
    padding-right: 12px;
}

.icon-footer-main{
    margin-left: -4px;
    font-size: 13px;
    padding-right: 10px;
}

.logo-menue-negatif{
    margin-left: 40px;
    filter:invert(1);
    width: 95px;
}
@media only screen and (min-width : 430px) {
    .footer-menue{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation-footer {
            display:  inline-flex;
    }

    .logo-menue-negatif{
        margin-left: 0px;
        height: 60px;
        width: 155px;
        margin-top: 30px;
    }
}