  .entete-ohmyfood{
    background-color: $white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .fleche{
    color: $darkgrey;
    font-size: 15px;
      margin-left: -90px;
  }

.logo-menue{
  width: 150px;
}

.image-entete-ohmyfood{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/***Page Accueil***/

.position-restaurant{
  display: flex;
  margin-top: -2px;
  align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 15px;
    padding: 15px;
    color: $brown;
  background-color: $blanc-casse-dark;
  margin-left: 0;
  border-radius: 0;
  width: 100%;
  font-size: 13px;
  .localisation{   
  margin-top: -0.5px;
    margin-left: -60px;
  }
  .text-restaurant {
    margin-left: 15px;
    font-weight: bold;
  }
}
@media only screen and (min-width :  768px) {
  .largeur-header{
    width: 100%;
  }

    .fleche{
      margin-left: -280px;
  }


.logo-menue{
width: 190px;
}

/***Page Accueil***/

.position-restaurant{
margin-top: 12px;
margin-left: 39%;
border-radius: 20px;
width: 20%;
.localisation{   
  margin-left: -10px;
}
.text-restaurant {
  margin-left: 30px;
}
}
} 

@media only screen and (min-width :  1024px) {
  .largeur-header{
    width: 100%;
  }
    .fleche{
      margin-left: -600px;
}


.logo-menue{
width: 190px;
}

/***Page Accueil***/

.position-restaurant{
margin-top: 12px;
margin-left: 39%;
border-radius: 20px;
width: 20%;
.localisation{   
  margin-left: -10px;
}
.text-restaurant {
  margin-left: 30px;
}
}
} 